body {
    margin: 50px;
}
#heading-title{
    font-size: 2.5rem;
    text-align: center;
    background-color: blue;
    color:white;
    margin: 15px 0px;
    padding: 20px;
}

#input-search {
    margin-top: 15px;
    width: 100%;
}
.btn-primary {
    margin-top: 20px;
    width:100%;
    margin-bottom: 20px;
}

#search-info {
    border-bottom: 2px solid #808080;
}

#search-history ul {
    list-style: none;
    text-align: center;
    margin-top: 20px;
    padding: 5px;
    background-color: lightgray;
    border-radius: 3px;
}

#current-city-info {
    border: solid 2px black;
    padding: 15px 0px 15px 15px;
}


.date-title {
font-weight: 700;
}

#forecast{
    display: inline-block;
}